In [4]:
from pathlib import Path
import csv
import sys
import import_ipynb
import helper
import pandas as pd

In [14]:
csvpath_one = r"C:/Users/Yvonne Colangelo/Downloads/Starter_Code/Instructions/PyRamen/Resources/menu_data.csv"
menu_data = pd.read_csv(csvpath_one)

menu_data.head()


#csvpath_two = r"C:/Users/Yvonne Colangelo/Downloads/Starter_Code/Instructions/PyRamen/Resources/sales_data.csv"
        
print(menu_data.columns)

Index(['item', 'category', 'description', 'price', 'cost'], dtype='object')

In [18]:
menu = [[menu_data['item']], [menu_data['category']], [menu_data['description']], [menu_data['price']], [menu_data['cost']]]

print(menu[0])

[0                                            edamame
1                                        house salad
2                            cucumber sunomono salad
3                       hiyashi wakame seaweed salad
4                                      agedashi tofu
5                                     hiyayakko tofu
6                                     pork floss bao
7                                         kakuni bao
8                        edamame fried gyoza (vegan)
9                                        fried gyoza
10                                          takoyaki
11                               rock shrimp tempura
12                           soft-shell crab tempura
13                              ebi katsu shrimp bao
14                                      nagomi shoyu
15                                        shio ramen
16                                  spicy miso ramen
17                             vegetarian spicy miso
18                                   miso crab ramen
19                        soft-shell miso crab ramen
20                                 tori paitan ramen
21                                    tonkotsu ramen
22                       burnt garlic tonkotsu ramen
23    vegetarian curry + king trumpet mushroom ramen
24                              truffle butter ramen
25                                         green tea
26                                              coke
27                            black sesame ice cream
28                                  matcha ice cream
29                             mango mochi ice cream
30                        strawberry mochi ice cream
31                         black sesame creme brulee
Name: item, dtype: object]

In [128]:
csvpath_two = r"C:/Users/Yvonne Colangelo/Downloads/Starter_Code/Instructions/PyRamen/Resources/sales_data.csv"
sales = pd.read_csv(csvpath_two, index_col=False)
print(sales.columns)
sales.head(5)

Index(['Line_Item_ID', 'Date', 'Credit_Card_Number', 'Quantity', 'Menu_Item'], dtype='object')

,Line_Item_ID,Date,Credit_Card_Number,Quantity,Menu_Item
0,1,01-01-2017,7437926611570799,1,spicy miso ramen
1,2,01-01-2017,7437926611570799,1,spicy miso ramen
2,3,01-01-2017,8421920068932819,3,tori paitan ramen
3,4,01-01-2017,8421920068932819,3,tori paitan ramen
4,5,01-01-2017,4787310681569648,1,truffle butter ramen

In [116]:
report= {}
quantity = sales['Quantity']

In [117]:
sales['Menu_Item'].drop_duplicates()

0                                   spicy miso ramen
2                                  tori paitan ramen
4                               truffle butter ramen
6                                     tonkotsu ramen
8                              vegetarian spicy miso
10                                        shio ramen
34                                   miso crab ramen
38                                      nagomi shoyu
48                        soft-shell miso crab ramen
66                       burnt garlic tonkotsu ramen
92    vegetarian curry + king trumpet mushroom ramen
Name: Menu_Item, dtype: object

In [170]:
report={}
quantity = 0
my_items = sales['Menu_Item'].drop_duplicates()
my_items = my_items.reset_index(drop=True)
report = my_items.items()
unit_quantity = sales['Quantity']
unit_quantity.items()

for row in sales:
    if item in sales['Menu_Item'] == report:
        report = {['01-count'] , unit_count[1] + quantity}
    print(report)
        
    #for item in sales['Menu_Item']:
        #for instance in my_items:
            #if item == instance:
                #my_items['01-count'] : next(unit_quantity) + quantity
                    #quantity = sales['Quantity']
            
           
        
print(next(report))   
print(next(report)) 
print(next(report))

<zip object at 0x000002B6A6B35CC0>
<zip object at 0x000002B6A6B35CC0>
<zip object at 0x000002B6A6B35CC0>
<zip object at 0x000002B6A6B35CC0>
<zip object at 0x000002B6A6B35CC0>
(0, 'spicy miso ramen')
(1, 'tori paitan ramen')
(2, 'truffle butter ramen')